.node {
  width: 25px;
  height: 25px;
  outline: 1px solid #d0e6ff;
  display: inline-block;
}

/* Start node: Bright Blue */
.node-start {
  background-color: #1e90ff;
}

/* Finish node: Bright Orange */
.node-finish {
  background-color: #ff5733;
}

/* Visited nodes with animation */
.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #7f00ff;
    border-radius: 100%;
  }

  50% {
    background-color: #e100ff;
  }

  75% {
    transform: scale(1.2);
    background-color: #8a2be2;
  }

  100% {
    transform: scale(1);
    background-color: #00bcd4; /* Sky Blue instead of Green */
  }
}

/* Wall node: Dark Grey */
.node-wall {
  background-color: #2f3640;
}

/* Shortest path: Gold with animation */
.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #feca57;
  }

  50% {
    transform: scale(1.2);
    background-color: #ff9f43;
  }

  100% {
    transform: scale(1);
    background-color: #feca57;
  }
}


